@page "/adminhome"
@inherits AdminProtectedPage
@rendermode InteractiveServer
@layout WebStore.Components.Layout.BackOffice.MainBackLayout
@inject HttpClient HttpClient

    <h3>Bem-vindo, administrador!</h3>

@code {
}

