@page "/gerircontas"
@inherits AdminProtectedPage
@rendermode InteractiveServer
@layout WebStore.Components.Layout.BackOffice.MainBackLayout
@inject HttpClient HttpClient


<h3>GerirContas</h3>

@code {

}
